.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top: 4px solid #3498db; /* Warna utama */
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Animasi putaran */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Layout */
.layout-page {
    padding: 2rem;
    max-width: 1200px;
    margin: auto;
}

.header-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.layout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
}

/* Card */
.card {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid #eee;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Text */
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Status text */
.status-text {
    margin-left: 0.5rem;
    font-size: 0.85rem;
    color: #333;
    font-weight: 600;
}

.toolbar {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1rem;
    flex-wrap: wrap; /* agar tetap rapi di layar kecil */
}

.toolbar-input,
.toolbar-select {
    padding: 8px;
    border-radius: 6px;
    flex: 1 1 250px;
    min-width: 200px;
}

.toolbar-button {
    padding: 8px 16px;
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0;
    white-space: nowrap;
}

.toolbar-button:hover {
    background-color: #2563eb;
}

/* Loading */
.loading {
    text-align: center;
    padding: 3rem;
    color: #666;
}